.agendaSchedule span.fc-time{
	display: none;
}
.agendaSchedule div.fc-head-container,div.fc-scroller{
	overflow: unset !important;	
}
.agendaSchedule div.fc-scroller{
	height: unset !important;
}
.fc-event-time{
	display: none;
}

.agendaSchedule .fc-daygrid-dot-event {
    //padding: 0 !important; 
}
.agendaSchedule .fc-event-main{
	border-radius: 3px;
	background-color: transparent !important;
}

.agendaSchedule .fc-event{
	//background-color: transparent !important;
}

.testecalss {
    font-weight: bold;
    padding: 2px;
}
