.teste{
	color: #b8b8b8;
}
.button-red{
	background-color:rgb(204, 0, 0) !important;
}

//.form-principal{
//	border: 1px solid #c8c8c8;
    //background-color: #fff;
//}

.flex-inline-space > button{
	margin-right: 10px;
}

//primeflex 3.0.0
@import './primeflex/primeflex.scss';
@import './primeflex/themes/saga-blue.scss';


@import "template.scss";
@import "moradia_estudantil.scss";
@import "header.scss";
@import "login.scss";
@import "nav.scss";
@import "app_index.scss";
@import "agendamento.scss";
@import "breadcrumb.scss";
@import "perfil.scss";
@import "saldoUser.scss";
@import "bugs.scss";
@import "grid.scss";
@import "componentesPrimeFaces.scss";
@import "catraca.scss";
@import "usuario.scss";
@import "moradia_chamada.scss";
@import "relatorios.scss";
@import "cad_aluno_turma.scss";

