$width-car : 5px;

.ident-filter{
	display: flex;
}

.item-filter{
	width: $width-car;
}

.ident-filter > .ui-widget {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.ident-filter > .ui-selectonemenu{
	width: calc(100% - $width-car) !important;
}