
@media (max-width: 767px) {

    .login-pf body {
	    background: url(../img/keycloak-bg.png) no-repeat center center fixed !important;
	    background-size: cover !important;
	    height: 100% !important;
    }


    #kc-header-wrapper {
	color: #ffffff !important;
	    letter-spacing: 0;
	    text-align: center !important;
	    font-size: x-large !important;
    }

}

input#kc-login {
    background-color: #000000;
}

.card-pf{
	border-color:#000000;
	border-top: 4px solid !important;
}

.pf-c-form-control:hover, .pf-c-form-control:focus {
    border-bottom-color: #000;
    border-bottom-width: 2px;
}

.login-pf a{
	color:#000000;
}
